body {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.heading__primary {
  font-size: 4rem;
}

.heading__secondary {
  font-size: 3.5rem;
}

p,
span,
a {
  font-size: 1.4rem;
}
