$color-primary: #bf2957;
$color-primary2: #e41251;
$color-secondary: #79d7e1;
$color-menu-item: #787878;
$color-light-grey: #eaeaea;
$color-light-grey1: #d2d2d2;
$color-white: #fff;
$color-black: #000;

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-med: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
